.content-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: -1 !important;
  }
  
  .side-nav {
    width: 360px;
  }
  
  .top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .mat-selected {
    background-color: rgba(90, 51, 161, 1);
}